form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

@keyframes my-targeting {
    from, to {    
		background-color: transparent;
    }    
    50% {    
		background-color: #b897ff;
    } 
}
@keyframes enemy-targeting {
    from, to {    
		background-color: transparent;
    }    
    50% {    
		background-color: #ba7967;   
    } 
}

/* chat - col */
.chat-col {
}
.chat-col .messages {
	height: 80vh;
	margin: 0;
	padding: 0px 0px 40px 0px;
	overflow: auto;
	list-style-type: none;
}
.chat-col .messages li {
	padding: 5px 10px;
}
.chat-col .messages-form {
	position: absolute;
	background: #000;
	padding: 3px;
    width: -moz-calc(100% - 2rem);
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem);
	bottom: 0px;
}
.chat-col .system-msg {
	opacity: 0.5;
}

/* game - col */
.game-col {
}
.game-col.my-targeting {
    -webkit-animation: my-targeting 2s infinite;    
    animation: my-targeting 2s infinite;	
}
.game-col.enemy-targeting {
    -webkit-animation: enemy-targeting 2s infinite;    
    animation: enemy-targeting 2s infinite;
}
.game-col.my-targeting .board-area.disabled,
.game-col.enemy-targeting .board-area.disabled {
	background-color: white;
    border-radius: .25rem;
}
.game-col.my-targeting .board-area.disabled .board-area-box,
.game-col.enemy-targeting .board-area.disabled .board-area-box {
	opacity: 0.5;
}
.game-col .board-area {
	padding-top: 5px;
	padding-bottom: 5px;
}
.game-col .board-area.my-targeting {
    -webkit-animation: my-targeting 2s infinite;    
    animation: my-targeting 2s infinite;  
}
.game-col .board-area.enemy-targeting {
    -webkit-animation: enemy-targeting 2s infinite;    
    animation: enemy-targeting 2s infinite;
}
.game-col .board-area.disabled .btn {
	cursor: not-allowed;
	pointer-events: none;
}
.game-col .board-area .board-area-row {
	padding-left: 5px;
	padding-right: 5px;
}
.game-col .board-area .board-area-row .board-block {
	padding: 0px;
}
.game-col .board-area .board-area-row .board-block .board {
	width: 100%;
	height: 5rem;
}
.game-col .board-area .board-area-row .board-block .board.btn-primary,
.game-col .board-area .board-area-row .board-block .board.btn-brown {
	cursor: not-allowed;
	pointer-events: none;
}

.lock-board-area {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
}