<!doctype html>
<html>
  <head>
    <title>Tici-Taca-Toe</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/yuri.css">
	<link rel="stylesheet" href="/static/game.css">
  </head>
  <body>
	<div class="container-xl" id="app">
	    <h1 class="title text-center">
			Tici-Taca-Toe
		</h1>
		<span class="desc text-center" v-on:click="copyUrl()">Copy room code : {{ roomCode }}</span>
		<div class="row">
		  <div class="col-lg-8 game-col" :class="gameColTargeting()">
			<div class="row">
				<div class="col-4 board-area" :class="[boardAreaOwner(i), boardActive(i), boardTargeting(i)]" v-for="i in BOARD_SIZE * BOARD_SIZE" :key="i">
					<div class="board-area-box">
						<div class="row board-area-row" v-for="n in BOARD_SIZE" :key="n">
							<div class="col-4 board-block" v-for="m in BOARD_SIZE" :key="m">
								<button class="btn board" :class="boardOwner(i,n,m)" v-on:click="boardClick(`${i}${n}${m}${getBoardAreaNum(n, m)}`)">
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="lock-board-area" v-if="!myTurn"></div>
				<div class="game-end-ui dsp-flex" v-if="isGameEnd">
					<button class="btn btn-success btn-lg align-self-center" v-on:click="replayBtn()" style="margin: 0 auto;">Replay ?</button>
					<a class="btn btn-danger btn-lg align-self-center" href="/" style="margin: 0 auto;">Exit</a>
				</div>
			</div>
		  </div>
		  <div class="col chat-col" v-if="responsiveChat">
			  <ul class="messages" id="messages"></ul>
			  <button type="button" class="btn close show-lg" v-on:click="responsiveChat = false">
				<span>&times;</span>
			  </button>
			  <form class="messages-form" action="" @submit.prevent="chatSubmit">
				<input id="m" autocomplete="off" /><button>&gt;</button>
			  </form>
			</div>
		  </div>
		  <button type="button" class="btn btn-block" v-if="!responsiveChat" v-on:click="responsiveChat = true">
			<span>Show Chat</span>
		  </button>
	  </div>

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/static/game.js"></script>
</html>